body {
  background-color: hsl(220, 15%, 55%);
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 500px;
  margin: 0 auto;
  border-radius: 20px;
  padding: 20px;
  text-align: center;
  box-shadow: 3px 3px 10px hsl(225, 53%, 18%);
}
.text {
  width: 300px;
  margin: 0 auto;
  font-family: "Outfit", sans-serif;
}
.text h2 {
  font-weight: 700;
}
.text p {
  color: hsl(212, 45%, 85%);
}
img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
}
